
    <h1>About Us</h1>
    <p>
     HeadacheTracker is a software to make tracking headaches as easy as possible.  All you have to do is call a phone number and follow the instructions.

HeadacheTracker is a product of SonicMD Inc.
    </p>
