
    <h1>HeadacheTracker Home</h1>
    <p>
      This is the home page for the HeadacheTracker
      application.
    </p>

<%= link_to "Sign up now!", new_patient_path, :class => "signup_button round" %>