<div id="footer">
  <ul class="navigation round">
    <li><%= link_to "About", :controller => 'pages', :action => 'about' %></li>
    <li><%= link_to "Contact", :controller => 'pages', :action => 'contact' %></li>
 </ul>
</div>