<div id="header" class="round">
  <%= image_tag("logo_hl_1.png", :alt => "Headache-LINE", :class => "round") %>
  <ul class="navigation round">
	<li><%= link_to 'HOME', :controller => 'pages', :action => 'home' %></li>
	<li><%= link_to 'HELP', :controller => 'pages', :action => 'help' %></li>
	<li><%= link_to 'PATIENT DATA', :controller => 'patients', :action => 'index' %></li>
	  </ul>
	      </div>